SA_PASSWORD=Your_database_password_here1234!
# Make sure your password contains eight characters with at least three of these four categories: 
# uppercase letters, lowercase letters, numbers, and non-alphanumeric symbols
# or else the database will fail



# Unless you know what youre doing, do not change these
DB_USER=sa 
DB_NAME=master
DB_HOST=database
