<nav class="navbar nav navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Generic Business Name & Password</a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a routerLink="/" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link">
          Dashboard
        </a>
        <a routerLink="/products" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link">
          Products
        </a>
        <a routerLink="/vendors" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link">
          Vendors
        </a>
        <a routerLink="/employees" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link">
          Employees
        </a>
        <a routerLink="/plants" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link">
          Plants
        </a>
        <a routerLink="/components" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link">
          Components
        </a>
        <a routerLink="/login" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link">
          Log Out
        </a>
      </div>

    </div>
  </div>




</nav>
